[submodule "vendor/dark-matter-gl-style"]
	path = vendor/dark-matter-gl-style
	url = https://github.com/openmaptiles/dark-matter-gl-style.git
[submodule "vendor/fiord-color-gl-style"]
	path = vendor/fiord-color-gl-style
	url = https://github.com/openmaptiles/fiord-color-gl-style.git
[submodule "vendor/maptiler-basic-gl-style"]
	path = vendor/maptiler-basic-gl-style
	url = https://github.com/openmaptiles/maptiler-basic-gl-style.git
[submodule "vendor/osm-bright-gl-style"]
	path = vendor/osm-bright-gl-style
	url = https://github.com/openmaptiles/osm-bright-gl-style.git
[submodule "vendor/positron-gl-style"]
	path = vendor/positron-gl-style
	url = https://github.com/openmaptiles/positron-gl-style.git
[submodule "vendor/maptiler-toner-gl-style"]
	path = vendor/maptiler-toner-gl-style
	url = https://github.com/openmaptiles/maptiler-toner-gl-style.git
[submodule "vendor/osm-liberty"]
	path = vendor/osm-liberty
	url = https://github.com/maputnik/osm-liberty.git
[submodule "vendor/openmaptiles-fonts"]
	path = vendor/openmaptiles-fonts
	url = https://github.com/dsaidgovsg/fonts.git
[submodule "vendor/openmaptiles"]
	path = vendor/openmaptiles
	url = https://github.com/openmaptiles/openmaptiles.git
[submodule "vendor/several-shades-of-gray-gl-style"]
	path = vendor/several-shades-of-gray-gl-style
	url = https://github.com/dsaidgovsg/several-shades-of-gray-gl-style.git
